.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  align-items: center;
  justify-items: center;
  padding-top: 80px;
  padding-bottom: 0px;
  gap: 64px;
  width: 100%;
  font-family: var(--font-geist-sans);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--gray-alpha-200);
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.label {
  margin-bottom: 8px;
  font-size: 18px;
  margin-left: 10px;
  color: rgba(var(--gray-rgb), 0.7);
}

.button {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

